html, body
{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

html
{
  background-color: #efebd6;
}

@font-face {
  font-family: "Parisienne-Regular";
  src: url("C:/Users/miss_/OneDrive/Bureau/Nouveau dossier/mon blog adsense!!/css/fonts/Parisienne-Regular.ttf");
}

@font-face {
  font-family: "KleeOne";
  src: url("C:/Users/miss_/OneDrive/Bureau/Nouveau dossier/mon blog adsense!!/css/fonts/KleeOne-SemiBold.ttf");
}

body
{
  font-size: 20px;
  font-weight: 500;
  color: #996633;
  letter-spacing: 0.1em;
  line-height: 2em;
  word-break: keep-all;
  font-family: Parisienne-Regular, calibri;
}

.texte::-webkit-scrollbar
{
  display: none;
}

.banniere
{
  background-color: #ddeeef;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banniere img
{
  border-radius: 50%;
  height: 80%;
}

iframe
{
  border: none;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.presentation
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.box
{
  margin: 5px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

.box:hover
{
  cursor: pointer;
}

.box span
{
  background-color: white;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}

.menu
{
  height: 43px;
  background-color: #d6cb95;
  position: sticky;
  top: 0;
  display: flex;
  color: rgba(255, 255, 255, 0.8);
}

.menu ul
{
  display: flex;
  margin: 0;
  justify-content: space-around;
  width: 100%;
}

.sousMenu li
{
  display: none;
  flex-direction: column;
  padding: 0;
}

.sousMenu
{
  display: flex;
  flex-direction: column;
  background-color: #d6cb95;
  padding: 0;
}

.menu li:hover .sousMenu li
{
  display: flex;
}

.sousMenu li:hover
{
  background-color: #996633;
}

.menu a
{
  display: flex;
  align-items: center;
  justify-content: center;
}

li
{
  list-style: none;
  cursor: pointer;
}

li:hover
{
  color: rgb(0, 0, 0, 0.3);
}

.menu li
{
  transition: color 0.5s;
  text-align: center;
  position: relative;
}

.menu a
{
  text-align: center;
}

.menu li:hover
{
  color: #92ab3a;
}

.menu li:hover .sousMenu li
{
  color: white;
}

.liste
{
  width: 80%;
  margin: auto;
}

.liste ul
{
  display: flex;
  padding: 0;
}

.liste li
{
  width: 150px;
  height: 100px;
  background-color: #d6cb95;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}

.texte
{
  box-shadow: 1px 1px 12px #555;
  padding: 20px;
  text-align: center;
  background-color: #ddeeef;
  background-color: #efebd6;
  color: #996633;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

ruby
{
  font-family: KleeOne, 'Noto Sans JP', sans-serif;
}

rt
{
  font-size: 0.6em;
}

rb
{
  font-weight: ;
  color: #92ab3a;
}

ruby:hover
{
  cursor: pointer;
  font-weight: bold;
  color: #92ab3a;
}

.container
{
  height: 90%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: transparent;
  display: none;
}

.info
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 10px;
  background-color: #d6cb95;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

.info h3
{
  margin: 0;
  font-size: 1.5em;
  font-weight: normal;
}

.furigana
{
  font-size: 15px;
}

.info h3
{
  margin-bottom: 0;
}

.info p
{
  margin: 0;
}

a
{
  text-decoration: none;
}

a:visited
{
  color: inherit;
}

.menu span
{
  display: none;
}

button[name="menu"]
{
  display: none;
}

.fermerMenu
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#contact
{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}

@media (max-width: 1000px) {

  .menu
  {
    float: left;
    width: 20%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #d6cb95;
    display: flex;
    align-items: center;
  }

  .menu ul
  {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .sousMenu
  {
    background-color: rgba(60, 40, 20, 0.5);
  }

  .sousMenu li:hover
  {
    background-color: #996633;
  }

  .menu li
  {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  iframe
  {
    float: right;
  }

  .texte
  {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    top: 0%;
    overflow: scroll;
  }

  .info
  {
    width: 100%;
  }

  .menu
  {
    width: 50%;
    height: 100%;
    z-index: 3;
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 1s;
  }

  .menu span
  {
    position: absolute;
    top: 0;
    right: 5%;
    display: block;
    cursor: default;
    background-color: rgba(153, 102, 51, 0.3);
    padding: 0px 7px 0px 9px;
    margin-top: 15px;
  }

  .box
  {
    position: fixed;
    display: flex;
  }

  iframe
  {
    width: 100%;
  }

  .banniere
  {
    height: 30%;
  }

}

@media (max-width: 500px) {

  .menu
  {
    width: 100%;
  }

  .banniere
  {
    height: 20%;
  }

}
